// font family
$bodyfont: 'Arimo', sans-serif;
$heading-font: 'Archivo', sans-serif;

// Colors variable
$bg-dark: #171719;
$white: #ffffff;
$pera-color: #727885;
$pera-color-2: #9797AA;
$dark: #1B2E59;
$theme-color: #266FF2;
$theme-color-2: #09C3FF;
$theme-color-light: #E6EEFB;
