/* SERVICE DETAILS PAGE CSS SATART */
.sotcox-service-details-page {
    P {
        font-size: 16px;
    }
    .stocox-support-box  {
        .icon {
            border: none;
            width: auto;
            height: auto;
        }
    }
}
/* SERVICE DETAILS PAGE CSS END */